<footer class="textCenter">
  <a class="brand" href="/">
    <i class="bi bi-luggage" style="font-size: 30px; margin: 10px"></i> &copy;
    2024 ПУТЕШЕСТВУЙ ЛЕГКО
  </a>
  <p>
    <a class="nav-link" href="/attractions">достопримечательности</a>
    <a class="nav-link" href="/tours">маршруты</a>
    <a class="nav-link" href="/contacts">контакты</a>
    <a class="nav-link" href="/profile">профиль</a>
  </p>
</footer>
