<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Путешествуй легко</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/custom.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/fonts/bootstrap-icons.css" />
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/scripts/animate.css/animate.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
  <link rel="stylesheet" href="/scripts/tippy.js/dist/tippy.css" />
  <link
    rel="stylesheet"
    href="/scripts/tippy.js/animations/perspective-extreme.css"
  />
</head>
