<!DOCTYPE html>
<html lang="ru">
  <%- include("./partials/head") %>

  <body
    style="
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    "
  >
    <h1 style="margin-top: 50px">Ошибка 404</h1>
    <img src="./images/404.png" alt="404" width="600px" />
  </body>
</html>
